
.box{
  width: 250px;
  height: 250px;
  background-color:#81ade2;
  display: none;
}
.box .item{
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
