
.flex {
  display: -webkit-flex;
  display: flex;
}

.flex-direc-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-direc-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.jc-sa{
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.jc-ct{
  -webkit-justify-content: center;
  justify-content: center;
}
